/* The Carousel width */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
 }
/* .carousel-inner{
    height: 350px;
}

.item, img{
    height: 100% !important;
    width:  100% !important;
} */


/* .carousel .item{
    height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
} */


/* ----------------Login Area */
#password, #username{
    padding: 20px 20px;
    border-radius: 0px;
}   

#btnl{
    padding: 10px 10px;
    border-radius:  0px;
    background-color: #0275d8;
    border-color: #0275d8;
}
 
#myModal{
    top: 2%;
}

.card {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.card-img-top {
    width: 40%;
    border-radius: 50%;
}

#validate-id{
  top: 20%;
}

  .modal.custom {
    outline:none;
    
}

.modal.custom .modal-dialog {
    width:50%;
    margin:0 auto;
}

/* -------------Validate Phone Number Area */
.phone-number .form-control{
border-radius: 0px;  
padding: 20px 20px;
}

.phone-number .col-xs-3::after{
  content: "-";
  position:absolute;
  right: 5px;
  color: black;
  border: 0px solid;
  top: 10px;
}

.phone-number .col-xs-3{
  width: 33%;
}
.phone-number .col-xs-4{
  width:32%;
      padding: 0px;
}

.phone-number .col-xs-3, .phone-number .col-xs-4{

  padding-left:0;
}

#btn2{
  padding: 10px 10px;
  border-radius: 0px;
  background-color: #0275d8;
  border-color: #0275d8;
}

div.col-xs-8{
  width: 98%;
}

#submit{
    padding: 10px 10px;
    border-radius:  0px;
    
}
